body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 20px 0 22px;
  height: 72px;
}

.main-menu__ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.main-menu__li {
  padding-right: 40px;
}

.main-menu__a {
  color: #ffffff;
  text-decoration: none;
  
}

.main-menu__exit {
  position: relative;
}

.main-menu__exit::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -30px;
  height: 14px;
  width: 14px;
  background-image: url(../img/login.png);
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-footer {
  background-color: #242424;
}